.front-section {
  width: 100%;
  height: 100vh; /* Full height of the user's screen */
  background-image: url("/public/images/hiking.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* Position relative for pseudo-element */
  overflow: hidden; /* Ensure pseudo-element is contained */
}

.front-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity for desired brightness */
  z-index: 1; /* Ensure overlay is above the background */
  pointer-events: none; /* Allow interactions with content */
}

.front-section .content {
  color: white;
  z-index: 2; /* Ensure content is above the overlay */
}

.front-section .logo-image {
  width: 20em; /* Adjust size as needed */
  height: auto;
  padding-top: 14em;
  margin-bottom: 20px;
  filter: brightness(20) saturate(0);
  z-index: 2; /* Ensure logo is above the overlay */
}

.front-section .community-title {
  font-size: 54px; /* Adjust size as needed */
  font-weight: 400;
  letter-spacing: 0.06em;
  margin-top: -1.8em; /* Space between logo and title */
  font-family: "AvenirNextCyr", sans-serif;
  z-index: 2; /* Ensure title is above the overlay */
}

.front-section .description {
  font-size: 40px;
  margin-top: -10px;
  font-weight: 400;
  font-family: "AvenirNextCyr", sans-serif;
  z-index: 2; /* Ensure description is above the overlay */
}

.front-section .main-points {
  font-size: 32px;
  margin-top: 40px;
  font-weight: 400;
  font-family: "AvenirNextCyr", sans-serif;
  z-index: 2; /* Ensure description is above the overlay */
}

.front-section .join-button {
  display: none;
}

@media (max-width: 768px) {
  .front-section .logo-image {
    width: 15em; /* Smaller size for mobile */
  }

  .front-section .community-title {
    font-size: 40px; /* Smaller text for mobile */
  }

  .front-section .description {
    font-size: 30px; /* Smaller text for mobile */
  }

  .front-section .main-points {
    font-size: 24px; /* Smaller text for mobile */
  }

  .front-section .join-button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "AvenirNextCyr", sans-serif;
    font-weight: 600;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 0.5rem 2.5rem;
    margin: 10px 0;
    color: #1d2633;
  }
}
