.front-section {
    width: 100%;
    height: 100vh;
    background-image: url("/public/images/main.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    position: relative;
    overflow: hidden;
}
@media (max-width: 768px) {
    .front-section {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000;
    }
}
.front-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    pointer-events: none;
}

.front-section .content {
    color: white;
    z-index: 2;
}

.front-section .logo-image {
    width: 20rem;
    height: auto;
    padding-top: 14em;
    margin-bottom: 5em;
    filter: brightness(20) saturate(0);
    z-index: 2;
    display: none;
}

.front-section .community-title {
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: -1.8em;
    font-family: "ReneSansCyr", sans-serif;
    z-index: 2;
    display: none;
    
}

.front-section .description {
    font-size: var(--font-size-xl);
    margin-top: 0;
    margin-bottom: 5vh;
    font-weight: 400;
    font-family: "ReneSansCyr", sans-serif;
    z-index: 2;
        display: none;

}

.front-section .main-points {
    font-size: var(--font-size-ml);
    margin-top: 5vh;
    margin-bottom: 10vh;
    font-weight: 400;
    font-family: "ReneSansCyr", sans-serif;
    z-index: 2;
        display: none;

}

.front-section .join-button {
    visibility: hidden;

    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-m);
    font-family: "ReneSansCyr", sans-serif;
    font-weight: 600;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 0.5rem 2.5rem;
    margin: 0.5em 0;
    color: #1d2633;
    z-index: 2;
}

@media (max-width: 768px) {
    .front-section .logo-image {
        width: 15rem;
    }

    .front-section .community-title {
        font-size: 2.7rem;
    }

    .front-section .join-button {
        visibility: visible;
    }
}
