.front-section {
  width: 100%;
  height: 100vh;
  background-image: url("/images/hiking.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.front-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.front-section .content {
  color: white;
  z-index: 2;
}

.front-section .logo-image {
  width: 20em;
  height: auto;
  padding-top: 14em;
  margin-bottom: 20px;
  filter: brightness(20) saturate(0);
  z-index: 2;
}

.front-section .community-title {
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin-top: -1.8em;
  font-family: "AvenirNextCyr", sans-serif;
  z-index: 2;
}

.front-section .description {
  font-size: 40px;
  margin-top: -10px;
  font-weight: 400;
  font-family: "AvenirNextCyr", sans-serif;
  z-index: 2;
}

.front-section .main-points {
  font-size: 32px;
  margin-top: 40px;
  font-weight: 400;
  font-family: "AvenirNextCyr", sans-serif;
  z-index: 2;
}

.front-section .join-button {
  display: none;
}

@media (max-width: 768px) {
  .front-section .logo-image {
    width: 15em;
  }

  .front-section .community-title {
    font-size: 40px;
  }

  .front-section .description {
    font-size: 30px;
  }

  .front-section .main-points {
    font-size: 24px;
  }

  .front-section .join-button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "AvenirNextCyr", sans-serif;
    font-weight: 600;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 0.5rem 2.5rem;
    margin: 10px 0;
    color: #1d2633;
    z-index: 2;
  }
}
