{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^@?\\w",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/sections/(.*)$",
    "^@/(.*)$",
    "^[./]",
    "^.+\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}