{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-import-sort"
  ],
  "importOrder": [
    "^react",
    "^@?\\w",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/context/(.*)$",
    "^@/sections/(.*)$",
    "^[./]"
  ],
  "tabWidth": 4,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}