.footer-section {
  width: 100%;
  height: 95vh;
  background-image: url("/images/ready.webp");
  background-size: cover;
  background-position: center 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footer-section .footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
}

.footer-section .footer-content {
  color: white;
  z-index: 2;
  padding: 0 1em;
  width: 100%;
  position: relative;
}

.footer-content p {
  color: #bbb;
  font-size: var(--font-size-xs);
  font-family: "ReneSans", sans-serif;
}

.footer-section .enroll-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25%;
  min-width: 40rem;
  text-align: left;
  top: 7vh;
  left: 7vw;
}

.footer-section .join-button {
  background-color: #ffffff;
  color: #1d2633;
  padding: 0.4em 0;
  width: 100%;
  max-width: 20em;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  font-size: var(--font-size-l);
  font-family: "ReneSansCyr", sans-serif;
  font-weight: 600;
  z-index: 3;
}

.footer-section .contact-details {
  font-size: var(--font-size-m);
  font-family: "ReneSansCyr", sans-serif;
}

.footer-section .footer-header {
  color: white;
  font-size: var(--font-size-xl);
  font-family: "ReneSansCyr", sans-serif;
  margin-bottom: 0;
  font-weight: 500;
  z-index: 2;
}

.footer-section .footer-paragraph {
  color: white;
  font-size: var(--font-size-m);
  font-family: "ReneSansCyr", sans-serif;
  margin-bottom: 1em;
  z-index: 2;
}

@media (max-width: 768px) {
  .footer-section .enroll-section {
    top: 3vh;
    left: 1rem;
    width: 90vw;
    min-width: 0px;
  }
}
