.footer-section {
  width: 100%;
  height: 95vh;
  background-image: url("/public/images/ready.jpg");
  background-size: cover;
  background-position: center 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footer-section .footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
}

.footer-section .footer-content {
  color: white;
  z-index: 2;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.footer-section .footer-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-section .footer-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "AvenirNextCyr", sans-serif;
}

.footer-section .enroll-section {
  position: absolute;
  width: 25%;
  min-width: 400px;
  text-align: left;
  top: 5em; /* Offset from the top */
  left: 10%; /* Offset from the left */
}

.footer-section .join-button {
  background-color: #ffffff;
  color: #1d2633;
  padding: 0.4em 6em;
  border-radius: 6px;
  text-decoration: none;
  font-size: 24px;
  font-family: "AvenirNextCyr", sans-serif;
  font-weight: 600;
  z-index: 3;
}

.footer-section .contact-details {
  font-size: 16px;
  font-family: "AvenirNextCyr", sans-serif;
}

.footer-section .footer-header {
  color: white;
  font-size: 28px;
  font-family: "AvenirNextCyr", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  z-index: 2;
}

.footer-section .footer-paragraph {
  color: white;
  font-size: 18px;
  font-family: "AvenirNextCyr", sans-serif;
  margin-bottom: 20px;
  z-index: 2;
}
