.horizontal-logo {
    display: flex;
    align-items: center;
}

.horizontal-logo.expand {
    justify-content: space-between;
    width: 100%;
}

.horizontal-logo.tight {
    justify-content: flex-start;
}

.horizontal-logo .logo-image {
    height: auto;
    margin-right: 0.5em;
    filter: brightness(7) saturate(0);
    display: none;
}

.horizontal-logo .logo-text {
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0.02em;
    font-family: "ReneSansCyr", sans-serif;
    display: none;
}
