@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-DemiItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-HeavyItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "ReneSansCyr";
  src: url("./ReneSansCyr-UltraLightIt.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-BoldCn.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-BoldCnIt.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-Cn.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-CnIt.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-DemiCn.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-DemiCnIt.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-DemiIt.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-HeavyCn.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-HeavyCnIt.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-It.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-MediumCn.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-MediumCnIt.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-UltLtCn.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "ReneSans";
  src: url("./ReneSansLTPro-UltLtCnIt.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
