@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-DemiItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-HeavyItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("./AvenirNextCyr-UltraLightIt.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-BoldCn.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-BoldCnIt.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-Cn.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-CnIt.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-DemiCn.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-DemiCnIt.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-DemiIt.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-HeavyCn.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-HeavyCnIt.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-It.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-MediumCn.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-MediumCnIt.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-UltLtCn.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("./AvenirNext-UltLtCnIt.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
