.event-item .status-planned,
.event-item .status-active,
.event-item .status-recruiting {
    background-color: #f7f7f7;
    width: 8em;
    margin-top: -1em;
    margin-bottom: 0.5em;
    padding-top: 0.3em;
    height: 2em;
    border-radius: 10%;
    font-weight: 600;
    font-size: var(--font-size-xs);
    font-family: "ReneSansCyr", sans-serif;
}

.event-item .status-planned {
    color: #ff8474;
}

.event-item .status-active {
    color: #19a700;
}

.event-item .status-recruiting {
    color: #029ff6;
}

.event-item .title {
    font-weight: bold;
    font-size: var(--font-size-m);
    text-align: left;
}

.event-item .description {
    font-size: var(--font-size-sm);
    max-width: 80%;
    word-wrap: break-word;
    font-weight: 300;
    text-align: left;
    white-space: normal;
}

.event-item .regularity {
    font-size: var(--font-size-sm);
    max-width: 80%;
    word-wrap: break-word;
    font-weight: 500;
    text-align: left;
    white-space: normal;
}
