.event-item .status-planned,
.event-item .status-active,
.event-item .status-recruiting {
  background-color: #f7f7f7;
  width: 100px;
  margin-top: -17px;
  margin-bottom: 10px;
  padding-top: 5px;
  height: 25px;
  border-radius: 10%;
  font-weight: 600;
  font-size: 14px;
  font-family: "AvenirNextCyr", sans-serif;
}

.event-item .status-planned {
  color: #ff8474;
}

.event-item .status-active {
  color: #19a700;
}

.event-item .status-recruiting {
  color: #029ff6;
}

.event-item .title {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.event-item .description {
  font-size: 18px;
  max-width: 80%;
  word-wrap: break-word;
  font-weight: 300;
  text-align: left;
  white-space: normal;
}

.event-item .regularity {
  font-size: 18px;
  max-width: 80%;
  word-wrap: break-word;
  font-weight: 500;
  text-align: left;
  white-space: normal;
}
