.wrapper {
    padding: 80px 15%;
    background-color: white;
    color: #1d2633;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    max-width: 95%;
    margin: 0 0;
    gap: 20px 150px;
    flex-wrap: wrap;
  }
  
  .left,
  .right {
    flex: 1;
    min-width: 300px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Avenir Next", "Inter", sans-serif;
    text-align: left;

  }
  
  .title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Avenir Next", "Inter", sans-serif;
    text-align: left;
  }
  
  @media screen and (max-width: 768px) {
    .wrapper {
      padding: 40px 30px;
    }
  
    .content {
      flex-direction: column;
      gap: 32px;
    }
  
    .title {
      font-size: 28px;
      text-align: center;
    }
  
    .left,
    .right {
      font-size: 18px;
      min-width: 100%;
      text-align: center;
    }
  }
  