.application-section {
  padding: 40px 16%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.application-section .application-title {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "AvenirNextCyr", sans-serif;
  color: #333;
  text-align: left;
}

.application-section .application-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
  font-family: "AvenirNextCyr", sans-serif;
}

.application-section .application-paragraph {
  flex: 1;
  text-align: left;
}

.application-section .application-paragraph p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.application-section .application-paragraph p strong {
  font-weight: 500;
}

.application-section .application-details {
  width: 100%;
  text-align: left;
}

.application-section .application-details h2 {
  font-size: 24px;
  margin-top: 20px;
  font-weight: 600;
  font-family: "AvenirNextCyr", sans-serif;
  color: #333;
  text-align: left;
  position: relative;
}

.application-section .application-details h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.application-section .application-details ol,
.application-section .application-details ul {
  margin: 20px 0;
  padding-left: 20px;
}

.application-section .application-details li {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .application-section {
    padding: 40px 20px;
  }
  .application-section .application-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .application-section .application-paragraph {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
}
