.page-transition {
    position: relative;
    width: 100%;
    min-height: 100vh;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.page-transition > * {
    animation: pageTransitionFadeIn 0.2s ease-in-out;
}

@keyframes pageTransitionFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
