.juicy-header {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.juicy-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.juicy-header .content {
  color: white;
  z-index: 2;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.juicy-header .community-title {
  font-size: 3.4rem;
  font-weight: 500;
  font-family: "ReneSansCyr", sans-serif;
  z-index: 2;
}

@media (max-width: 768px) {
  .juicy-header .community-title {
    font-size: 2.7rem;
  }
}
