.heroSection {
  text-align: left;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 300px;
}

.title {
  width: 276px;
  height: 55px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: Avenir Next Demibold, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-top: 60px;
}

.description {
  width: 573px;
  height: 33px;
  font-size: 23px;
  font-weight: 400;
  font-family: Avenir Next Cyr Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button {
  background-color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 600;
  font-family: Avenir Next Demibold, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  width: 573px;
  height: 70px;
  color: #1D2633;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.button:hover {
  background-color: #f0f0f0;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.titldesc {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

h1 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

