.principle-item h3 {
    font-size: var(--font-size-m);
    font-family: "ReneSansCyr", sans-serif;
    color: #1d2633;
    font-weight: 600;
    margin-bottom: -1rem;
    width: fit-content;
}

.principle-item p {
    color: #4b5563;
}
