.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #1d2633;
  background-color: white;
}

.about-us-content {
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.about-us-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "AvenirNextCyr", sans-serif;
}

.about-us-content p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "AvenirNextCyr", sans-serif;
}

.about-us-content p strong {
  font-weight: 500;
}

.about-us-photo {
  flex: 1;
  display: flex;
  height: 90%;
  justify-content: end;
  align-items: center;
}

.about-us-photo-mobile {
  display: none;
}

.about-us-photo img {
  width: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
}

.about-us-photo-mobile img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
  }

  .about-us-photo {
    display: none;
  }

  .about-us-photo-mobile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
  }
}

@media (min-width: 1024px) {
  .about-us {
    padding-left: 16.6667%;
    padding-right: 16.6667%;
  }
}
