html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 30%;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.events {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  width: 90%;

  gap: 20px; 
}

/*Деление блоков по 2 активности в строке*/
.box > div {
  flex: 1 0 calc(40% - 10px);
  padding: 20px;
  text-align: center;
  height: 195px;
  position: relative;
}


/* Линия под блоками */
.box > div::after {
  content: "";
  position: absolute;
  bottom: -10px; 
  left: 2%;
  width: 95%;
  height: 1px;
  background-color: rgba(66, 61, 61, 0.259);
}

/* Убираем линию у последнего блока */
.box > div:nth-last-child(-n+2)::after {
  content: none;
}



/* Вертикальная линия слева*/
.box::before {
  content: "";
  position: absolute;
  left: 27%; 
  height: 100%;
  width: 1px;
  background-color: rgba(66, 61, 61, 0.259);
}

/*Вертикальня линия справа*/
.box::after {
  content: "";
  position: absolute;
  left: 62%; 
  height: 100%;
  width: 1px;
  background-color: rgba(66, 61, 61, 0.259);
}


.status-planned{
  width: 100px;
  margin-left:-10px;
  margin-top:-10px;
  height: 25px;
  border-radius: 10%;
  font-weight: bold;
  font-size: 12px;
  background-color: #d8dbd835;
  color:rgba(241, 55, 55, 0.845)
}

.status-active{
  width: 100px;
  margin-left:-10px;
  margin-top:-10px;
  height: 25px;
  border-radius: 10%;
  font-weight: bold;
  font-size: 12px;
  background-color: #d8dbd835;
  color:rgba(89, 244, 38, 0.882)
}

.status-recruiting{
  width: 100px;
  margin-left:-10px;
  margin-top:-10px;
  height: 25px;
  border-radius: 10%;
  font-weight: bold;  
  font-size: 12px;
  background-color: #d8dbd835;
  color:rgba(49, 66, 248, 0.855)
}

.title{
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-size: 18px;
  max-width: 80%; /* Ограничивает текст до половины блока */
  word-wrap: break-word; 
  font-weight: 300;
  text-align: left;
  white-space: normal; /* Это гарантирует, что текст будет переноситься */
}

.regularity {
  font-size: 18px;
  max-width: 80%; 
  word-wrap: break-word; 
  font-weight: 500;
  text-align: left;
  white-space: normal; 
}