#root {
  margin: 0;
  text-align: center;
  width: 100%;
}

.footer-block {
  background-image: url("assets/background-footer.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
  max-width: 100%;
}

.App {
  height: 100%;
}

body,
html,
#root,
.footer-block,
.App,
.HeroSection,
.Footer {
  width: 1920px;
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 100%;
  font-family: Avenir Next Cyr;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  /* Одна колонка */
  grid-template-rows: auto auto auto;
  /* Автоматическая высота для каждой строки */
  grid-gap: 10px;
  /* Отступ между элементами */
  width: 100%;
  margin: 300px;
  height: 100vh;
  padding: 20px;
  align-items: start;
  /* Размещаем элементы в начале ячейки */
  justify-items: start;
  /* Выравниваем элементы по левому краю ячейки */
}

.heading {
  font-size: 2em;
  color: white;
}