@import url("../public/fonts/fonts.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-xxs: clamp(0.65rem, 0.8vw + 0.3rem, 0.75rem); /* Super Small */
  --font-size-xs: clamp(0.75rem, 1vw + 0.35rem, 0.875rem); /* Smaller Small */
  --font-size-s: clamp(0.85rem, 1.2vw + 0.4rem, 1rem); /* Small */
  --font-size-sm: clamp(0.95rem, 1.4vw + 0.45rem, 1.1rem); /* Small Medium */
  --font-size-m: clamp(1rem, 1.5vw + 0.5rem, 1.25rem); /* Medium */
  --font-size-ml: clamp(1.125rem, 1.7vw + 0.55rem, 1.375rem); /* Medium Large */
  --font-size-l: clamp(1.25rem, 2vw + 0.6rem, 1.5rem); /* Large */
  --font-size-xl: clamp(1.5rem, 2.5vw + 0.7rem, 2rem); /* Extra Large */
  --font-size-xxl: clamp(2rem, 3vw + 0.8rem, 2.5rem); /* Double Extra Large */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}
