.full-screen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001748;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 900;
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
    transition: opacity 0.3s ease,
    transform 0.3s ease;
    pointer-events: none; /* Prevent clicks when closed */
}

.full-screen-menu.open {
    opacity: 1;
    transform: translateY(0); /* Move into place */
    pointer-events: auto; /* Allow clicks when open */
}

.full-screen-nav {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    gap: 2rem;
    align-items: center;
}

.full-screen-menu .item {
    color: white;
    font-size: var(--font-size-m);
    text-align: center;
    text-decoration: none;
    margin: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "ReneSansCyr", sans-serif;
    font-weight: 600;
    position: relative;
    width: fit-content;
}

.full-screen-menu .item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: -0.1em;
    left: 50%;
    background-color: #c9c9c9;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.full-screen-menu .item:hover::after {
    width: 30%;
}

.full-screen-menu .item.active::after {
    width: 100%;
}

.full-screen-menu .join-button {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 0.3rem 2.5rem;
    color: #1d2633;
    font-size: var(--font-size-m);
    text-decoration: none;
    text-align: center;
}

.full-screen-menu .login-button {
    color: white;
    font-size: var(--font-size-m);
    text-decoration: none;
    text-align: center;
    font-family: "ReneSansCyr", sans-serif;
    font-weight: 600;
    padding: 0.3rem 2.5rem;
    position: relative;
}

.join-button-container {
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    max-width: 400px;
    font-family: "ReneSansCyr", sans-serif;
    font-weight: 600;
}
