.menu-toggle-button {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 2.4rem;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 0px;
  right: 1rem;
  z-index: 1003;
}
