.menu-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1003;
}

.line {
  width: 100%;
  height: 2px;
  background-color: white;
  transition:
    transform 0.9s ease,
    opacity 0.6s ease;
}

.line.top {
  transform-origin: center;
}

.line.middle {
  opacity: 1;
}

.line.bottom {
  transform-origin: center;
}

.menu-toggle-button .line.open.top {
  transform: translate(0px, 10px) rotate(855deg);
}

.menu-toggle-button .line.open.middle {
  opacity: 0;
}

.menu-toggle-button .line.open.bottom {
  transform: translate(0px, -10px) rotate(-135deg);
}
