.menu-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3em;
  height: 1.75em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: calc((5vh - 1.75em) / 2);
  right: 1vw;
  z-index: 1003;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: white;
  transition:
    transform 0.9s ease,
    opacity 0.6s ease;
}

.line.top {
  transform-origin: center;
}

.line.middle {
  opacity: 1;
}

.line.bottom {
  transform-origin: center;
}

.menu-toggle-button .line.open.top {
  transform: translate(0px, calc((1.75em - 6px) / 2)) rotate(855deg);
}

.menu-toggle-button .line.open.middle {
  opacity: 0;
}

.menu-toggle-button .line.open.bottom {
  transform: translate(0px, calc((1.75em) / -2)) rotate(-135deg);
}
