/* FakeContent.css */
.fake-content {
    width: 100%;
    margin: 0;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #5e5e5e;
    border-radius: 8px;
    color: #333; /* Set text color to dark gray */
  }

.section {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #747474;
  border-bottom: 1px solid #ccc;
}

.section:nth-child(even) {
  background-color: #bda3a3;
}

.section h1 {
  margin: 0;
  font-size: 2rem;
}

.section p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 1200px;
} 